<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OpenAttestationAdminConsole</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.LogoffServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAllPCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.GetAllPCRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.UpdatePCRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.GetPCRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddPCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.AddPCRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelPCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.DelPCRServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryPCRServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.manifest.servlet.QueryPCRServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAllPCRServlet</servlet-name>
    <url-pattern>/GetAllPCRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePCRServlet</servlet-name>
    <url-pattern>/UpdatePCRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPCRServlet</servlet-name>
    <url-pattern>/GetPCRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPCRServlet</servlet-name>
    <url-pattern>/AddPCRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelPCRServlet</servlet-name>
    <url-pattern>/DelPCRServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryPCRServlet</servlet-name>
    <url-pattern>/QueryPCRServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AsyncAttestServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.AsyncAttestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsyncAttestServlet</servlet-name>
    <url-pattern>/AsyncAttestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAsyncRequest</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.ListAsyncRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAsyncRequest</servlet-name>
    <url-pattern>/ListAsyncRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailResultAsync</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.DetailResultAsync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailResultAsync</servlet-name>
    <url-pattern>/DetailResultAsync</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SyncAttestServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.SyncAttestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyncAttestServlet</servlet-name>
    <url-pattern>/SyncAttestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/VersionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.intel.openAttestation.servlet.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminConsole</servlet-name>
    <jsp-file>/AdminConsole.jsp</jsp-file>
    <init-param>
      <param-name>env</param-name>
      <param-value>PRD</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminConsole</servlet-name>
    <url-pattern>/AdminConsole.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PCRManifest</servlet-name>
    <jsp-file>/PCRManifest.jsp</jsp-file>
    <init-param>
      <param-name>env</param-name>
      <param-value>PRD</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCRManifest</servlet-name>
    <url-pattern>/PCRManifest.jsp</url-pattern>
  </servlet-mapping>
</web-app>